spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gym_nacion
    username: postgres
    password: Ayre2026

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

server:
  port: ${PORT:8080}
